
//specie area
/*.specie-area {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  max-height : 50px;
}
#specie1 {max-height : 50px;}
#specie2 {max-height : 50px;}*/

//emptystates

.empty-red {
  text-align: center;
  padding: 20px;
  background-color: #f8d7da;
  color: #721c24;
  border: 1px solid #f5c6cb;
  border-radius: 5px; margin: 20px;
}

.empty-blue {
  text-align: center;
  padding: 20px;
  background-color: #d6e9f7;
  color: #0c5460;
  border: 1px solid #bce8f1;
  border-radius: 5px;
  margin: 20px;
}

.checkbox-inline {
  padding-right: 5px;
  padding-left: 5px;
}
//labels

#app-main_sidebar-dateRange-label, #app-main_sidebar-lifeStage-label, .sidebar-title, #app-main_sidebar-sex-label,
#app-main_sidebar-continent-label {
    display: flex;
    justify-content: center;
    padding-top: 15px;
}

.shiny-options-group {
    display: flex;
    justify-content: center;
}

.padding-left-right {
  padding-left : 10px;
  padding-right : 10px;
}

.padding {
  padding : 10px;
}

.html-fill-item, .html-fill-container {
  min-height: 750px;
} 