
//specie area
.specie-area {
  padding-left: 20px;
  padding-right: 20px;
  padding-bottom: 0px;
  margin-bottom: 0px;
  margin-top: 5px;
  max-height : 50px;
}
#specie1 {max-height : 50px;}
#specie2 {max-height : 50px;}